$text-color: #fff;
$accent-color: #74AFAD;
$hover-color: #74AFBF;
$offset: .125em;
$border-width: .125em;
$transition: .2s ease-out;
.btn {
  padding: .66em 2.25em;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: $offset;
    left: $offset;
    border-bottom: $border-width solid;
    border-right: $border-width solid;
  }
  &:active {
    transform: translate($offset, $offset);
    &:after {
      transform: translate(-$offset, -$offset);
    }
  }
  &:last-child {
    margin-right: 0em;
  }
}

.btn-filled {
  background-color: $accent-color;
  color: $text-color;
  transition: background-color $transition;
  &:after {
    border-color: $accent-color;
    transition: border-color $transition;
  }
  &:hover {
    background-color: $hover-color;
    &:after {
      border-color: $hover-color;
    }
  }
}

.btn-outline {
  color: $accent-color;
  box-shadow: inset 0 0 0 $border-width currentcolor;
  transition: color $transition;
  &:after {
    border-color: currentcolor;
  }
  &:hover {
    color: $hover-color;
  }
}

.btn-outline-fill {
  color: $accent-color;
  box-shadow: inset 0 0 0 $border-width $accent-color;
  background-color: transparent;
  transition: color $transition, box-shadow $transition, background-color $transition;
  &:after {
    border-color: $accent-color;
  }
  &:hover {
    color: $text-color;
    background-color: $hover-color;
    box-shadow: inset 0 0 0 $border-width transparent;
    &:after {
      border-color: $hover-color;
    }
  }
}

/* Circles */

.container-circle {
  background-color: #74AFAD;
  background-size: cover;
  background-position: center center;
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  &:hover .overlay{
    opacity: 1;
    width: 100%;
    height: 100%;
        }

  &:hover span{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity 1.3s ease;
    transition: transform .5s ease, opacity 1.3s ease;
  }

  .overlay{
    background: rgba(0,0,0,0.4);
    position: absolute;
    margin: auto;
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    opacity: 0;

    -webkit-transition: .4s ease;
    transition: .4s ease;

  }
  span{
    color: #fff;
    text-align: center;
    position: absolute;
    margin: auto;
    width: 150px;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .5s ease, opacity .7s ease;
    transition: transform .5s ease, opacity .7s ease;
  }
}
