<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Testing HTML for Angular</h1>
    <p>Welcome to TEST</p>
  </body>
</html>
