@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

a {
    text-decoration: none;
    color: #585858;
}

a:hover {
    color: #74AFAD;
    background-color: transparent;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25%;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}
button:focus {outline:0;}

.mainButtons {
    font-family: 'Baloo Bhaina';
    font-size: 24px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainPanel {
    margin-top: 2em;
    margin-bottom: 2em;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #74AFAD;
    color: white;
}

.panel {
    background-color: #ECECEA;
}


body {
    background: #70e1f5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header > a {
     color: black;
     text-decoration: none;
}

.header > a:hover {
    color: black;
    text-decoration: none;
}

html {
    overflow-y: scroll;
}

.btnContainer {
    text-align: center;
    margin-bottom: 1em;
}

.directiveWarning {
    margin-top: 2em;
}


.header-container {
    padding-top: 6em;
    padding-bottom: 6em;
}

.navBtnContainer {
    margin-top: 2em;
    text-align:center;
}

.mainHeader {
    font-family:'Baloo Bhaina';
    font-size: 56px;
    text-align: center;
}


.mainHeader-sm {
    font-family: 'Baloo Bhaina';
    font-size: 28px;
    padding-left: 40%
}

.panel-body > p > a {
    color: #74AFAD;
    text-decoration: none;
}

.panel-body > p > a:hover {
    color: black;
}

.footer-custom {
    font-size: 10px;
}

.selectionHeading {
    height: 4em;
    width: 100%;
    font-family: 'Baloo Bhaina';
}

.selectionContainer {
    padding-left: 2em;
}

.fade-in-out {
    transition: 1s linear all;
    opacity: 1;
}

.fade-in-out.ng-hide {
    opacity: 0;
}

