<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registreren</title>
</head>
<body>
<wrong-input ng-show="authCtrl.warning"/>
<div ng-if="myForm.username.$touched && myForm.username.$error" class="alert alert-danger directiveWarning">
    Gebruikersnaam is reeds bezet! <b>¯\_(ツ)_/¯ </b>
</div>
<div class="panel panel-default mainPanel">
    <div class="panel-heading">
        <h3 class="panel-title">Registratie nieuwe gebruiker</h3>
    </div>
    <div class="panel-body">
        <form name="myForm">
            <div class="form-group">
                <label for="username">Gebruikersnaam</label>
                <input ng-model="user.username" name="username" type="text" class="form-control" id="username" placeholder="Gebruiker" ng-model-options="{ debounce: 1500 }" check-user-name-async/>
            </div>
            <div class="form-group">
                <label for="password">Paswoord</label>
                <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Paswoord">
            </div>
            <div class="btnContainer">
            <button type="button" class="btn btn-primary" ng-click="register()">Registreer</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>